/bin/*
.vscode/*.*
.vs/*
/images/*
.DS_Store
/src/include/fonts/
src/shaders/compiled/*
src/include/*
/build/
assets/projects/*
docs/*
build-serial/*
build-tsan/*
build-release/*
build-c26*/*